.publication {

  padding-top: 1rem;
  
  &_DONE {
    color: #46d146;
  }

  &_PENDING {
    color: rgb(128, 128, 0);
  }

  &_FAILURE {
    color: rgb(136, 10, 10);
  }

  &__log {
    white-space: pre-wrap;
    background-color: black;
    color: #24b724;
    max-height: 50vh;
  }

  &__vis-button {
    font-size: 1rem;
  }

  &__vis-button-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__date{
    width: 11rem;
    line-height: 2rem;
  }

  &__log {
    white-space: pre-wrap;
    background-color: black;
    color: #24b724;
    max-height: 50vh;    
  }
}
