.gallery {
  position: relative;
  line-height: 0;
  column-count: 4;
  column-gap: 0;
  padding-top: 1rem;
  padding-bottom: 10rem;

  &__btn-wrap {
    padding-top: 1rem;
    display: flex;
    justify-content: end;
  }
}