.content {
  width: 1024px;
  margin: auto;

  @media (max-width: 1200px) {
    width: 768px;
  }

  @media (max-width: 768px) {
    margin-top: 0;
    width: auto;
    padding: 1rem;
  }
}

.active {
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}