.add-product-btn {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  min-height: 10rem;
  color: rgba(0, 0, 0, 0.1) !important;
  font-size: 3rem;
  text-decoration: none !important;
  align-items: center;
  justify-content: center;
}
